<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div id="google_translate_element_id"></div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element_id');
        }
    </script>

    <script type="text/javascript">
        (function() {
            var gtConstEvalStartTime = new Date();
            /*

             Copyright The Closure Library Authors.
             SPDX-License-Identifier: Apache-2.0
            */
            function d(b) {
                var a = document.getElementsByTagName("head")[0];
                a || (a = document.body.parentNode.appendChild(document.createElement("head")));
                a.appendChild(b)
            }

            function _loadJs(b) {
                var a = document.createElement("script");
                a.type = "text/javascript";
                a.charset = "UTF-8";
                a.src = b;
                d(a)
            }

            function _loadCss(b) {
                var a = document.createElement("link");
                a.type = "text/css";
                a.rel = "stylesheet";
                a.charset = "UTF-8";
                a.href = b;
                d(a)
            }

            function _isNS(b) {
                b = b.split(".");
                for (var a = window, c = 0; c < b.length; ++c)
                    if (!(a = a[b[c]])) return !1;
                return !0
            }

            function _setupNS(b) {
                b = b.split(".");
                for (var a = window, c = 0; c < b.length; ++c) a.hasOwnProperty ? a.hasOwnProperty(b[c]) ? a = a[b[c]] : a = a[b[c]] = {} : a = a[b[c]] || (a[b[c]] = {});
                return a
            }
            window.addEventListener && "undefined" == typeof document.readyState && window.addEventListener("DOMContentLoaded", function() {
                document.readyState = "complete"
            }, !1);
            if (_isNS('google.translate.Element')) {
                return
            }(function() {
                var c = _setupNS('google.translate._const');
                c._cest = gtConstEvalStartTime;
                gtConstEvalStartTime = undefined;
                c._cl = 'en';
                c._cuc = 'googleTranslateElementInit';
                c._cac = '';
                c._cam = '';
                c._ctkk = '443432.3380506509';
                var h = 'translate.googleapis.com';
                var s = (true ? 'https' : window.location.protocol == 'https:' ? 'https' : 'http') + '://';
                var b = s + h;
                c._pah = h;
                c._pas = s;
                c._pbi = b + '/translate_static/img/te_bk.gif';
                c._pci = b + '/translate_static/img/te_ctrl3.gif';
                c._pli = b + '/translate_static/img/loading.gif';
                c._plla = h + '/translate_a/l';
                c._pmi = b + '/translate_static/img/mini_google.png';
                c._ps = b + '/translate_static/css/translateelement.css';
                c._puh = 'translate.google.com';
                _loadCss(c._ps);
                _loadJs(b + '/translate_static/js/element/main.js');
            })();
        })();
    </script>
    <header>
        <h1 style="color:DodgerBlue;">JOWAR</h1>
    </header>
    <img src="/media/accounts/images/jowar.webp" alt="Jowar">

    <p> Sorghum is a genus of about 25 species of flowering plants in the grass family (Poaceae). Some of these species are grown as cereals for human consumption and some in pastures for animals. One species, Sorghum bicolor, was originally domesticated
        in Africa and has since spread throughout the globe. Seventeen of the 25 species are native to Australia,with the range of some extending to Africa, Asia, Mesoamerica, and certain islands in the Indian and Pacific Oceans.[4][5] One species is
        grown for grain, while many others are used as fodder plants, either cultivated in warm climates worldwide or naturalized in pasture lands.[6] Sorghum is in the subfamily Panicoideae and the tribe Andropogoneae (the tribe of big bluestem and sugarcane).
        <br>

        <h2 style="color:MediumSeaGreen;">
            Requirement</h2>

        <h2 style="color:MediumSeaGreen;">
            Climate</h2>
        It grows well at a temperature between 27 Degree Celsius and 32 Degree Celsius at the time of germination. However, it cannot be grown when the temperature is below 16 Degree Celsius. Jowar does not require large amounts of water and can be grown in arid
        and semi arid areas having annual rainfall under 45 cm.

        <h2 style="color:MediumSeaGreen;">
            Soil</h2>
        Though it can be grown in a variety of soils including loamy and sandy soils, clayey deep regur and alluvium are the best suited soils for jowar. Most of the crop is grown in plain areas but it can also be raised on gentle slopes upto 1,200 metres height.

        <h2 style="color:MediumSeaGreen;">
            Varieties</h2>
        1.SSG 59-3</br>
        2.Jawahar Chari 6</br>
        3.Pusa Chari</br>

        <h2 style="color:MediumSeaGreen;">
            Planting</h2>
        Sorghum or Jowar crop adapts wide range of soils but grows well in sandy loam soils having good drainage. Soil pH range of 6 to 7.5 is ideal for its cultivation and better growth. The main field should be ploughed and leveled to fine tilth for weeds free
        sowing.

        <h2 style="color:MediumSeaGreen;">
            Seed treatment</h2>
        1.Treat the seeds with dried cow dung powder and cow's urine (100 gms cow dung powder and 250 ml cow's urine per kilogram of seeds). 2.Soak the seeds in lime water (1 kg lime in 10 litres of water kept for 10 days and the superficial water is collected
        and used) for overnight.

        <h2 style="color:MediumSeaGreen;">Sowing</h2>
        september/october under rainfed conditions early around the middle of september is the ideal time for planting. if soil moisture is available planting can be extended upto the first week of october. compaction of soil immediately after sowing will help
        in proper emergence and establishment of seedlings.

        <h2 style="color:MediumSeaGreen;">Fertilizers</h2>
        20 kg N, 15 kg O2 P5 and 12 kg K2 O/ acre as basal dose and 15 kg N/acre as top dressing at 20-30 days after sowing. Under irrigation fertiliser dose can be increased to 80N and 40 P kg/ha. N should be applied in two splits, 50% at sowing and 50% as top
        dose at 30 days after sowing.

        <h2 style="color:MediumSeaGreen;">Irrigation</h2>
        <p>If the crop is sown in monsoon time (July). it may require l to 3 irrigations depending upon rains. For summer crops, 6 to 7 irrigations may be carried out due to high temperature. In South India, Rabi season crops need about 4 to 5 irrigations.</p>

        <h2 style="color:MediumSeaGreen;">
            Intercultural operations</h2>


        <h2 style="color:MediumSeaGreen;">
            Sowing</h2>
        <p>Sorghum crop is grown in almost all the seasons of the year. In Northern India conditions it is grown in kharif season but in Southern India the crop is grown during Rabi and summer seasons. Kharif crop should be sown soon after first break of
            monsoon rains i.e. nearly in last week of June. Therefore, the best sowing time is in last week of June to first week of July depending upon onset of monsoon. Whereas rabi jawar is sown in the month of October to November.</p>

        <h2 style="color:MediumSeaGreen;">
            Plant protection</h2>
        1.egg/plant in 10% of plants in the first two weeks of sowing or 10% dead hearts. Take up early sowing of sorghum immediately after the receipt of South West or North East monsoon to minimise the shoot fly incidence. Use seeds pelleted with insecticides.
        Seed treatment with imidacloprid 70 WS @ 10 g/kg of seeds.

        <h2 style="color:MediumSeaGreen;">
            Pest Management</h2>
        Methyl demeton 25 EC 500 ml/ha. Dimethoate 30 EC 500 ml/ha. Neem Seed Kernel extract 5% Soil application of phorate 10 G 18 kg/ha or carbofuran @ 33.3. kg /ha at the time of sowing.

        <h2 style="color:MediumSeaGreen;">
            Termites</h2>
        termite identification Termites are polyphagous insects living in the group. These insects are light yellow or brown in color.

        <h2 style="color:MediumSeaGreen;">
            Control on pest</h2>
        <p>Set up of light traps till mid night to monitor, attract and kill adults of stem borer, grain midge and earhead caterpillars. Set up sex pheromone traps at 12/ha to attract male moths of Helicoverpa armigera from flowering to grain hardening.</p>

        <h2 style="color:MediumSeaGreen;">
            Internode borer</h2>
        <p>Chilo sacchariphagus indicus</p>
        Symptom:Caterpillars attack sugarcane plants after 3 months of planting. Internodes constricted and shortened, with a number of boreholes Boreholes are plugged with fresh excreta in the nodal region. Frass materials are present on the affected portion.

        <h2 style="color:MediumSeaGreen;">Disease</h2>
        <h2 style="color:MediumSeaGreen;"></h2>
        <p>1.Grain smut</p>
        <p>2.Ergot</p>
        <h2 style="color:MediumSeaGreen;">Management</h2>
        <p>1.Seed treatment with organo-mercurial compound viz. Ceresan, Agrosan GN, etc.</p>
        <p>2.Seed treatment with any of the above-mentioned chemicals.Spraying of Ziram @0.15% or 1 kg/ha at boot leaf stage and its repetition at 5-7 days interval at least two times.Immersion of seed in 2% saline water, washing them with fresh water and
            drying in shade controls the disease.</p>

        <h2 style="color:MediumSeaGreen;">
            Harvesting</h2>
        <p>Harvesting The high yielding varieties mature in about 100-120 days duration after which they are harvested. Generally two methods of harvesting i.e. either stalk-cut or cutting of earheads by sickles are employed. However, in foreign countries
            sorghum harvesters are used. In case of stock cut method the plants are cut from near the ground level, the stalks are tied into bundles of convenient removed from plants, while in later case the earheads, after their removal from the standing
            crop, are piled up on the threshing floor and after few days they are threshed. Threshing of earheds is done either by beating them with sticks or by trampling them under bullock’s feet. Later method is quicker and is practiced by majority
            of farmers who use to grow the crop on larger scale.</p>

        <h2 style="color:MediumSeaGreen;">
            Storage</h2>
        <p>the harvested grains are sun-dried and storage is conventional.</p>

        <h2 style="color:MediumSeaGreen;">
            Yield</h2>
        <p>The grain yield of improved varieties under assured water supply ranges between 25-35 quintals/ha and that of hay or karvi between 150-170 quintals/ha.</p>
</body>

</html>