{% extends 'accounts/FarmerPage.html' %}
{% block css %}
{% endblock %}
{% block body %}
<li>
    <li><a href="/LeafSpotorSigatoka">Leaf Spot</a></li>
    <li><a href="/PanamaWilt">Panama</a></li>
<li><a href="/AmricanBollWarm">Amrican Boll Warm</a></li>
<li><a href="/PinkBollWarm">Pink Boll Warm</a></li>
<li><a href="/Leafhopper">Leaf Hopper</a></li>
<li><a href="/Cornworm">Corn worm</a></li>
<li><a href="PotatoLateBlightPhytophthorainfestans">Potato Late Blight</a></li>
<li><a href="/Earlyshootborer">Early shoot borer</a></li>
</ul>
{% endblock %}
{% block js %}
{% endblock %}