<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	     <div id="google_translate_element_id"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>
	<header><h1 style="color:DodgerBlue;">RAGI</h1></header>
		<img src="/media/accounts/images/ragi.jpeg" alt="Ragi">

<p>	Eleusine coracana, or finger millet, also known as ragi in India, kodo in Nepal, is an annual herbaceous plant widely grown as a cereal crop in the arid and semiarid areas in Africa and Asia. It is a tetraploid and self-pollinating species probably evolved from its wild relative Eleusine africana.Finger millet is native to the Ethiopian and Ugandan highlands.[3] Interesting crop characteristics of finger millet are the ability to withstand cultivation at altitudes over 2000 m above sea level, its high drought tolerance, and the long storage time of the grains.</p>

<h2 style="color:MediumSeaGreen;">
Requirement</h2>

<h2 style="color:MediumSeaGreen;">
Climate</h2>
Ragi is a crop of tropical and subtropical climate and can be grown successfully from sea level to an altitude of 2100 meters on hill slopes as well as in plains. It is very adaptable to higher elevations and is grown in the Himalaya up to 2,300 meters in elevation.

<h2 style="color:MediumSeaGreen;">
Soil</h2>
Ragi is cultivated on a variety of soils ranging from rich loam to poor shallow upland soils. It prefers porous and well drained loam to light red loam and sandy loam soils of good fertility but reasonable water holding capacity. It can tolerate some water logging.

<h2 style="color:MediumSeaGreen;">
Varieties</h2>
1.CO 11 (Pure line selection from MS 2584</br>2.CO 10 - Marua ragi (Pure line selection)</br>3.CO 9 (White ragi)</br>

<h2 style="color:MediumSeaGreen;">
Planting</h2>
Ragi is cultivated on a variety of soils ranging from rich loam to poor shallow upland soils. It prefers porous and well drained loam to light red loam and sandy loam soils of good fertility but reasonable water holding capacity. It can tolerate some water logging.

<h2 style="color:MediumSeaGreen;">
Seed treatment</h2>
Prepare a well pulverized seed bed for direct seeding of ragi. Apply FYM or compost 5t/ha and incorporate well into the soil along with fertilizer before sowing. Sow the direct seeded crop in line 22.5 cm apart, seed rate of 10kg/ha will be adequate for line sow crop.

<h2 style="color:MediumSeaGreen;">Sowing</h2>
Prepare a well pulverized seed bed for direct seeding of ragi. Apply FYM or compost 5t/ha and incorporate well into the soil along with fertilizer before sowing. Sow the direct seeded crop in line 22.5 cm apart, seed rate of 10kg/ha will be adequate for line sow crop.

<h2 style="color:MediumSeaGreen;">Fertilizers</h2>
Ragi is fermented overnight or for at least eight hours—ragi flour and salt are mixed with enough water to form a loose batter; it's important that it is mixed with your hands to enable fermentation. It is then cooked over a low heat with coarsely blended rice grains until it thickens.

<h2 style="color:MediumSeaGreen;">Irrigation</h2>
<p>Water Management (Nursery) Provide one inlet to each nursery unit. Allow water to enter through the inlet and cover all the channels around the beds. Allow the water in the channels to raise till the raised beds are wet and then cut off water.</p>


<h2 style="color:MediumSeaGreen;">
Intercultural operations</h2>

<h2 style="color:MediumSeaGreen;">
Mulching</h2>
<p>Also known as 'Ragi' in India, Finger Millet. This is a robust, popular food and marvellous grain crop in India with wheat, maize and rice. Article mentions millet varieties, climatic requirements, soil requirements, land preparation methods, sowing methods etc. for Finger Millet farming.</p>

<h2 style="color:MediumSeaGreen;">
Plant protection</h2>
Finger millet attracts several pests of which army worm, cutworm, stemborer, leaf aphid, grasshoppers, grey weevil, shootfly and ear caterpillars are important.
Stem borer : spray nursery bed once at 15-20 days after germination with Chloropyriphos or Monocrotophos @ 40ml/ 10 cm nursery area.
Before transplanting apply Phorate @ 0.5kg or Carbofuran 3G 1.2 kg/ha.
Aphids- Spray Methyl Demeton @1000 ml/ha at pre flowering stage.
Ear caterpillars- Dust crop with Malathion 5% @ 25 kg/ha

<h2 style="color:MediumSeaGreen;">
Milling</h2>
As a first step of processing finger millet can be milled to produce flour. However, finger millet is difficult to mill due to the small size of the seeds and because the bran is bound very tightly to the endosperm. Furthermore, the delicate seed can get crushed during the milling. The development of commercial mechanical milling systems for finger millet is challenging. Therefore, the main product of finger millet is whole grain flour. This has disadvantages, such as reduced storage time of the flour due to the high oil content. Furthermore, the industrial use of whole grain finger millet flour is limited. Moistening the millet seeds prior to grinding helps to remove the bran mechanically without causing damage to the rest of the seed. The mini millet mill can also be used to process other grains such as wheat and sorghum.

<h2 style="color:MediumSeaGreen;">
Nutrition</h2>
Millet flour is 9% water, 75% carbohydrates, 11% protein, and 4% fat (table). In a 100-gram (3+1⁄2-ounce) reference amount, millet flour provides 1,600 kilojoules (382 kilocalories) of food energy and is a rich source (20% or more of the Daily Value, DV) of protein, dietary fiber, several B vitamins, and numerous dietary minerals. It has poor content of calcium, potassium, and sodium (less than 10% DV, table).

<h2 style="color:MediumSeaGreen;">Disease</h2>
<h2 style="color:MediumSeaGreen;"></h2>
<p>1.Blast - Pyricularia grisea</p>
<p>2.Cercospora Leaf Spot - Cercospora eleusinis</p>
<h2 style="color:MediumSeaGreen;">Management</h2>
<p>1.Seed treatment with Trichoderma harzianum and two sprays of Pseudomonas fluorescens at 0.3% at the time of flowering followed by second spray 10 days later.Use of blast resistant varieties like GPU-28, GPU-26, and GPU-48 coupled with carbendazim as seed treatment at 2g/kg.3Two sprays of Saaf (0.2%) or carbendazim 0.05% or tricyclazole 0.05% with first spray at 50 per cent flowering followed by the second 10 days after were also found effective.
<p>2.Field sanitation and spraying of carbendazim @ 0.05% at 15 days intervals has been reported to reduce infection to some extent.</p>
<h2 style="color:MediumSeaGreen;">
Harvesting</h2>
<p>The crop matures in about 120 - 135 days depending on the tract and the variety. The ear heads are harvested with ordinary sickles and straw is cut close to ground.</p>

<h2 style="color:MediumSeaGreen;">
Yield</h2>
<p>It is possible to harvest 20 - 25 qtl/ha of grain and 60 - 80 qtl/ha of fodder. The Straw of finger millet makes nutritious fodder.</p>
</body>
</html>