<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	     <div id="google_translate_element_id"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>
	<header><h1 style="color:DodgerBlue;">RICE</h1></header>
		<img src="/media/accounts/images/rice.jpeg" alt="Rice">
		<p>Rice is the main staple food in Asia, where about 90% of the world's rice is produced and consumed. China is the world's biggest producer, growing one-third of Asia's total on 29 million ha (Table 1.1). India produces nearly a quarter on 43 million ha. Other top rice-producing countries in Asia are mentioned in table 1.1 too. Average yields in these countries range from 2.6 to 6.5 t/ha*.</p>

<h2 style="color:rgb(194, 44, 44);">
Requirement</h2>

<h2 style="color:MediumSeaGreen;">
Climate</h2>
Rice crop needs a hot and humid climate. It is best suited to regions which have high humidity, prolonged sunshine and an assured supply of water. The average temperature required throughout the life period of the crop ranges from 21 to 37º C. Maximum temp which the crop can tolerate 400C to 42 0C.

<h2 style="color:MediumSeaGreen;">
Soil</h2>
<p>Soil type: A rice paddy needs to hold water well. Ideally, soil needs to include about 50% clay content. Also, soil underlain with an impervious hardpan or clay-pan helps to hold water.</p>

<h2 style="color:MediumSeaGreen;">
Varieties</h2>
<p>There are more than 40,000 varieties of cultivated rice (Oryza sativa L.), but the exact figure is uncertain. Over 90,000 samples of cultivated and wild rice species are stored at the International Rice Gene Bank and these are used by researchers all over the world.<br>
	There are four main types of rice: Indica, Japonica, aromatic, and glutinous. Rice seeds vary in shape, size, width, length, color and aroma. There are many different varieties of rice: drought-resistant, pest-resistant, flood-resistant, saline-resistant, tall, short, aromatic, sticky, with red, violet, brown, or black; long and slender; or short and round grains.<br>
	Extensive studies of the varieties have demonstrated that they were independently derived from the wild rice species Oryza rufipogon. The domesticated varieties show much less variation (polymorphism) than the wild species.</p>
	
<h2 style="color:MediumSeaGreen;">
Planting</h2>
Several seeding and planting methods are practiced:</h2>
	Dry seeding with drill.
	Dry seeding by broadcast or air. Most of the rice, in large fields, is sown by aircraft. Experienced agricultural pilots use satellite guidance technology to broadcast seed accurately over the fields.
	Water seeding with pre-germinated seed.<br>
	Seedlings are transplanted by hand (Figure 1.11), or by machines (Figure 1.13) to fields which have been flooded by rain or river water.<br>
	Seedlings 25-30 days old, grown in a nursery are usually transplanted at 20 x 15 or 20 x 10 or 15 x 15 cm spacing in a well prepared main field and normally this will have a population of 335,000 to 500,000 hills/ha (33 to 50 hills/m2), whereby each hill contains 2-3 plants.
	</p>

<h2 style="color:MediumSeaGreen;">Sowing</h2>
In traditional rice cultivation, rice is sprouted in a nursery; sprouted seedlings are then transplanted into standing water. With direct seeding, rice seed is sown and sprouted directly into the field, eliminating the laborious process of planting seedlings by hand and greatly reducing the crop's water requirements.

<h2 style="color:MediumSeaGreen;">Fertilizers</h2>
apply a basal dose of 750 kg of FYM enriched with fertilizer phosphorus (P at 25 kg/ha) Apply N & K in three splits at 20-25, 40-45 and 60-65 days after germination. Each split may follow 25kg N and 12.5 kg K2O.
Panicle Initiation (PI): 45-50
Active Tillering (AT): 35-40

<h2 style="color:MediumSeaGreen;">Irrigation</h2>
<p>Rice can grow in either a wet (paddy) or a dry (field) setting. (Rice fields are also called paddy fields or rice paddies).<br>
	About 75% of the global rice production comes from irrigated rice systems because most rice varieties express their full yield potential when water supply is adequate.<br>
	In cooler areas, during late spring, water serves also as a heat-holding medium and creates a much milder environment for rice growing.<br>
	A pond could hold irrigation water to use in the summer, when demand for water is the greatest.<br>
	The bulk of the rice in Asia is grown during the wet season starting in June-July, and dependence on rainfall is the most limiting production constraint for rain-fed culture. Rice areas in South and Southeast Asia may, in general, be classified into irrigated, rain-fed upland, rain-fed shallow water lowland and rain-fed deep water lowland areas.</p>

<h2 style="color:rgb(194, 44, 44)">
Production and commerce</h2>

<h2 style="color:MediumSeaGreen;">
	Production</h2>
<p>In 2017, world production of paddy rice was 769.7 million metric tons (848.4 million short tons)s,[39] led by China and India with a combined 49% of this total.[1] Other major producers were Indonesia, Bangladesh and Vietnam. The five major producers accounted for 72% of total production, while the top fifteen producers accounted for 91% of total world production in 2017 (see table on right). Developing countries account for 95% of the total production.

<h2 style="color:MediumSeaGreen;">
Processing</h2>
<p>The seeds of the rice plant are first milled using a rice huller to remove the chaff (the outer husks of the grain) (see: rice hulls). At this point in the process, the product is called brown rice. The milling may be continued, removing the bran, i.e., the rest of the husk and the germ, thereby creating white rice. White rice, which keeps longer, lacks some important nutrients; moreover, in a limited diet which does not supplement the rice, brown rice helps to prevent the disease beriberi.

<h2 style="color:MediumSeaGreen;">
Harvesting</h2>
Unmilled rice, known as "paddy" (Indonesia and Malaysia: padi; Philippines, palay), is usually harvested when the grains have a moisture content of around 25%. In most Asian countries, where rice is almost entirely the product of smallholder agriculture, harvesting is carried out manually, although there is a growing interest in mechanical harvesting. Harvesting can be carried out by the farmers themselves, but is also frequently done by seasonal labor groups. Harvesting is followed by threshing, either immediately or within a day or two. Again, much threshing is still carried out by hand but there is an increasing use of mechanical threshers. Subsequently, paddy needs to be dried to bring down the moisture content to no more than 20% for milling.

<h2 style="color:MediumSeaGreen;">
Distribution</h2>
Because of the importance of rice to human nutrition and food security in Asia, the domestic rice markets tend to be subject to considerable state involvement. While the private sector plays a leading role in most countries, agencies such as BULOG in Indonesia, the NFA in the Philippines, VINAFOOD in Vietnam and the Food Corporation of India are all heavily involved in purchasing of paddy from farmers or rice from mills and in distributing rice to poorer people. BULOG and NFA monopolise rice imports into their countries while VINAFOOD controls all exports from Vietnam.

<h2 style="color:MediumSeaGreen;">
Trade</h2>
World trade figures are very different from those for production, as less than 8% of rice produced is traded internationally.[48] In economic terms, the global rice trade was a small fraction of 1% of world mercantile trade. Many countries consider rice as a strategic food staple, and various governments subject its trade to a wide range of controls and interventions.

<h2 style="color:MediumSeaGreen;">
Yeild records</h2>
<p>The average world yield for rice was 4.3 metric tons per hectare (1.9 short tons per acre), in 2010. Australian rice farms were the most productive in 2010, with a nationwide average of 10.8 metric tons per hectare (4.8 short tons per acre).Yuan Longping of China National Hybrid Rice Research and Development Center set a world record for rice yield in 2010 at 19 metric tons per hectare (8.5 short tons per acre) on a demonstration plot. In 2011, this record was reportedly surpassed by an Indian farmer, Sumant Kumar, with 22.4 metric tons per hectare (10.0 short tons per acre) in Bihar, although this claim has been disputed by both Yuan and India's Central Rice Research Institute. These efforts employed newly developed rice breeds and System of Rice Intensification (SRI), a recent innovation in rice farming

<h2 style="color:MediumSeaGreen;">Disease</h2>
<h2 style="color:MediumSeaGreen;"></h2>
<p>1.Rice Yellow Mottle Virus (RYMV)                                                </p>
<p>2.Rice Blast Magnaporthe grisea (Pyricularia oryzae)</p>
<h2 style="color:MediumSeaGreen;">Management</h2>
<p>Resistant varieties: Planting resistant varieties is the cheapest and the most
	effective way of controlling RYMV.    Resistant varieties: NERICA 4, NERICA 6
	and WITA 9   
	・ Control of vectors: It is difficult to control virus vectors with insecticides.
	Even low vector populations can cause RYMV infection.   
	・ Eliminating sources of virus: Rogue (remove) infected rice plants from the
	rice field. Roguing is successful when only a low percentage of plants are
	infected. Prevent ratoon growth, which is the main source of RYMV.      
<p>Control:Planting resistant varieties is the most economical way of controlling this disease.    
	Avoid excess nitrogen fertilizer.                                        
	There are several fungicides that effectively control blast but for economic
	reason, these are not used in the tropics.
<h2 style="color:MediumSeaGreen;">
Harvesting</h2>
<p>Rice is manually threshed, then cleaned with a machine thresher. A reaper cuts and lays the crop in a line. Threshing and cleaning can then be performed manually or by machine. The combine harvester combines all operations from paddy harvesting to rice extraction - cutting, handling, threshing and cleaning.

<h2 style="color:MediumSeaGreen;">
Post Harvesting</h2>
<p>After harvesting and drying, the paddy is subjected to the primary milling operation which includes de-husking as well as the removal of bran layers (polishing) before it is consumed. The rice obtained after this process is called raw rice.

<h2 style="color:MediumSeaGreen;">
Yield</h2>
<p>Yield gap is literally defined as the difference between yield potential of rice and yields that are actually obtained by farmers.<br>
	Yield potential of traditional Indica varieties is about 5 t/ha, while yield potential of crossbreedingJaponica varieties x with high-yielding Indica varieties,is  about 10 t/ha Yield potential of high-yielding Japonica varieties is about 15 t/ha while the yield potential of hybrid varieties is about 18 t/ha.</p>
	
<p>
</body>
</html>