<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	     <div id="google_translate_element_id"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>
	<header><h1 style="color:DodgerBlue;">RAGI</h1></header>
		<img src="/media/accounts/images/ragi.jpeg" alt="Soyabean">

<p>	
	<br>
    <br>

<h2 style="color:MediumSeaGreen;">
Requirement</h2>

<h2 style="color:MediumSeaGreen;">
Climate</h2>

<h2 style="color:MediumSeaGreen;">
Soil</h2>

<h2 style="color:MediumSeaGreen;">
Varieties</h2>

<h2 style="color:MediumSeaGreen;">
Planting</h2>

<h2 style="color:MediumSeaGreen;">
Seed treatment</h2>

<h2 style="color:MediumSeaGreen;">Sowing</h2>

<h2 style="color:MediumSeaGreen;">Fertilizers</h2>

<h2 style="color:MediumSeaGreen;">Irrigation</h2>
<p>

<h2 style="color:MediumSeaGreen;">
Intercultural operations</h2>

<h2 style="color:MediumSeaGreen;">
Mulching</h2>
<p>

<h2 style="color:MediumSeaGreen;">
Tying of cane</h2>
<p>

<h2 style="color:MediumSeaGreen;">
Plant protection</h2>

<h2 style="color:MediumSeaGreen;">
Pest Management</h2>

<h2 style="color:MediumSeaGreen;">
Termites</h2>

<h2 style="color:MediumSeaGreen;">
Control on pest</h2>
<p>

<h2 style="color:MediumSeaGreen;">
Internode borer</h2>
<p>

<h2 style="color:MediumSeaGreen;">
Control</h2>

<h2 style="color:MediumSeaGreen;">Disease</h2>
<h2 style="color:MediumSeaGreen;"></h2>
<p>1.</p>
<p>2.</p>
<h2 style="color:MediumSeaGreen;">Management</h2>
<p>
<p>
<h2 style="color:MediumSeaGreen;">
Harvesting</h2>
<p>

<h2 style="color:MediumSeaGreen;">
Post Harvesting</h2>
<p>

<h2 style="color:MediumSeaGreen;">
Yield</h2>
<p>
</body>
</html>