<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div id="google_translate_element_id"></div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element_id');
        }
    </script>

    <script type="text/javascript">
        (function() {
            var gtConstEvalStartTime = new Date();
            /*

             Copyright The Closure Library Authors.
             SPDX-License-Identifier: Apache-2.0
            */
            function d(b) {
                var a = document.getElementsByTagName("head")[0];
                a || (a = document.body.parentNode.appendChild(document.createElement("head")));
                a.appendChild(b)
            }

            function _loadJs(b) {
                var a = document.createElement("script");
                a.type = "text/javascript";
                a.charset = "UTF-8";
                a.src = b;
                d(a)
            }

            function _loadCss(b) {
                var a = document.createElement("link");
                a.type = "text/css";
                a.rel = "stylesheet";
                a.charset = "UTF-8";
                a.href = b;
                d(a)
            }

            function _isNS(b) {
                b = b.split(".");
                for (var a = window, c = 0; c < b.length; ++c)
                    if (!(a = a[b[c]])) return !1;
                return !0
            }

            function _setupNS(b) {
                b = b.split(".");
                for (var a = window, c = 0; c < b.length; ++c) a.hasOwnProperty ? a.hasOwnProperty(b[c]) ? a = a[b[c]] : a = a[b[c]] = {} : a = a[b[c]] || (a[b[c]] = {});
                return a
            }
            window.addEventListener && "undefined" == typeof document.readyState && window.addEventListener("DOMContentLoaded", function() {
                document.readyState = "complete"
            }, !1);
            if (_isNS('google.translate.Element')) {
                return
            }(function() {
                var c = _setupNS('google.translate._const');
                c._cest = gtConstEvalStartTime;
                gtConstEvalStartTime = undefined;
                c._cl = 'en';
                c._cuc = 'googleTranslateElementInit';
                c._cac = '';
                c._cam = '';
                c._ctkk = '443432.3380506509';
                var h = 'translate.googleapis.com';
                var s = (true ? 'https' : window.location.protocol == 'https:' ? 'https' : 'http') + '://';
                var b = s + h;
                c._pah = h;
                c._pas = s;
                c._pbi = b + '/translate_static/img/te_bk.gif';
                c._pci = b + '/translate_static/img/te_ctrl3.gif';
                c._pli = b + '/translate_static/img/loading.gif';
                c._plla = h + '/translate_a/l';
                c._pmi = b + '/translate_static/img/mini_google.png';
                c._ps = b + '/translate_static/css/translateelement.css';
                c._puh = 'translate.google.com';
                _loadCss(c._ps);
                _loadJs(b + '/translate_static/js/element/main.js');
            })();
        })();
    </script>
    <header>
        <h1 style="color:DodgerBlue;">SESAMUM</h1>
    </header>
    <img src="/media/accounts/images/seasamum.jpeg" alt="sesamum">

    <p> Sesamum is a leguminous crop and genus of about 20 species in the flowering plant family Pedaliaceae. The plants are annual or perennial herbs with edible seeds. The best-known member of the genus is sesame, Sesamum indicum (syn. Sesamum orientale),
        the source of sesame seeds. The species are primarily African, with some species occurring in India, Sri Lanka, and China. The origin of S. indicum is uncertain, as it is widely cultivated and naturalized in tropical regions. The genus is closely
        related to the strictly African genus Ceratotheca and is itself probably African in origin.


        <h2 style="color:MediumSeaGreen;">
            Requirement</h2>

        <h2 style="color:MediumSeaGreen;">
            Climate</h2>
        Commercial varieties of sesame require 90 to 120 frostfree days. Daytime temperatures of 77°F to 80°F are optimal; below 68°F, growth is reduced, and at 50°F germination and growth is inhibited. Sesame is very drought-tolerant, due in part to an extensive
        root system.

        <h2 style="color:MediumSeaGreen;">
            Soil</h2>
        Sesame thrives well on soils with neutral reaction (or) slightly acidic type. There should not be any water stagnation in the soil, so make sure soil is well drained and light loamy soil for better growth performance. The preferred soil pH range of sesame
        crop is 5.5 to 8.0.

        <h2 style="color:MediumSeaGreen;">
            Varieties</h2>
        Sesame seeds are believed to have originated in India and date back to 1600 BC. Ever since they were first originated, they have proved to be excellent for human health. ... Hulled Sesame Seeds. Unhulled Sesame Seeds. White/Natural Sesame Seeds.

        <h2 style="color:MediumSeaGreen;">
            Planting</h2>
        sesame has important agricultural attributes. It adapts easily to temperate and tropical conditions, it grows well in soils with good soil moisture with minimal rainfall or irrigation. It produces good yields under high temperature and the resulting seeds
        have a high market value.

        <h2 style="color:MediumSeaGreen;">
            Seed treatment</h2>
        Treat the seeds with Thiram or Captan @ 2-3 g/kg of seeds for the control of leaf spot disease. This is an important low cost input, which should be done scrupulously. The first thinning is to be done by the end of second to third week of sowing.

        <h2 style="color:MediumSeaGreen;">Sowing</h2>
        For prevention of seed borne diseases, use seed treated with Bavistin 2.0 g/kg seed. Wherever bacterial leaf spot disease is a problem, soak the seed for 30 minutes in 0.025% solution of Agrimycin-100 prior to seeding.

        <h2 style="color:MediumSeaGreen;">Manuring</h2>
        Apply cattle manure/compost as basal dressing and incorporate into the soil along with last ploughing. Apply fertilizers as basal dose when there is enough moisture in the soil. Urea is preferable to ammonium sulphate. Nitrogen may be applied in split
        doses, 75 per cent as basal and the balance as foliar spray at 3 per cent concentration, 20-35 days after sowing keeping the discharge rate at 500 1 ha-1.

        <h2 style="color:MediumSeaGreen;">Irrigation</h2>
        <p>Usually the crop is grown under rainfed conditions. When facilities are available, the crop may be irrigated to field capacity after thinning operation and thereafter at 15-20 days interval.Stop irrigation just before the pods begin to mature.
            Surface irrigation at 3 cm depth during the critical stages, viz., 4-5 leaves, branching, flowering and pod formation will increase the yield by 35-52 per cent.Two irrigations of 3 cm depth each in the vegetative phase (4-5 leaf stage or branching)
            and in reproductive phase (at flowering or pod formation) are the best, registering maximum yield and water use efficiency.In the case of single irrigation, it can be best given in the reproductive phase.In the tail end fields in command area,
            best use of the sparingly available water can be made for augmenting sesame production.</p>

        <h2 style="color:MediumSeaGreen;">
            Interculture</h2>
        <p>The crop is very sensitive to weed competition during the first 20-25 days. Two weeding, one after 15-20 days of sowing and other at 30-35 days after sowing are required to keep the field weed free and to make moisture and nutrients available
            to the crop.When the plants are about 15 cm in height, thin the crop so as to give a spacing of 15-25 cm between plants.</p>

        <h2 style="color:MediumSeaGreen;">
            Cultivation</h2>
        <p>Sesame varieties have adapted to many soil types. The high-yielding crops thrive best on well-drained, fertile soils of medium texture and neutral pH. However, these have a low tolerance for soils with high salt and water-logged conditions. Commercial
            sesame crops require 90 to 120 frost-free days. Warm conditions above 23 °C (73 °F) favor growth and yields. While sesame crops can grow in poor soils, the best yields come from properly fertilized farms.Initiation of flowering is sensitive
            to photoperiod and sesame variety. The photoperiod also affects the oil content in sesame seed; increased photoperiod increases oil content. The oil content of the seed is inversely proportional to its protein content.

            <h2 style="color:MediumSeaGreen;">
                Plant protection</h2>
            For control of leaf and pod caterpillar, remove affected leaves and shoots and dust with carbaryl 10 per cent.Azadirachtin 0.03 per cent at 5 ml per litre spray at 7th and 20th DAS and thereafter need based application can manage the incidence of leaf
            and pod caterpillar, pod borer infestation and phyllody incidence.For control of gall fly, give preventive spray with 0.2 per cent carbaryl.For control of leaf curl disease, remove and destroy disease affected sesame plants as well as the
            diseased collateral hosts like chilli, tomato and zinnia.Remove plants affected with phyllody and destroy them. Do not use seeds from affected plants for sowing.

            <h2 style="color:MediumSeaGreen;">
                1.Pest Management</h2>
            2.Leaf webber or roller and capsule borer (Antigastra catalaunalis) 3.Gall fly (Asphondylia sesami) and Bud fly (Dasineura sesami) 4.Sesame leafhopper (Orosius albicinctus) 5.Hawk moth or Sphinx caterpillar (Acherontia styx) 6.Bihar hairy caterpillar
            (Spilosoma obliqua)

            <h2 style="color:MediumSeaGreen;">
                Control on pest</h2>
            <p>Erect bird perches @ 40-50/ha to facilitate predation of larvae. Spray neem seed kernels extract (NSKE) 5% or neem oil @ 5 ml/l or spinosad 45SC @ 0.2 ml/l or flubendiamide 480SC @ 0.3 ml/l or chlorantraniliprole 18.5SC @ 0.4 ml/l or quinalphos
                25EC @ 2 ml/l or profenofos 50EC @ 2 ml/l.</p>

            <h2 style="color:MediumSeaGreen;">Disease</h2>
            <h2 style="color:MediumSeaGreen;"></h2>
            <p>1.Root rot or stem rot or charcoal rot - Macrophomina phaseolina (Sclerotial stage: Rhizoctonia bataticola)</p>
            <p>2.Leaf blight - Alternaria sesami</p>
            <h2 style="color:MediumSeaGreen;">Management</h2>
            <p>1.Seed treatment with carbendazim + thiram (1:1) at 2g/kg seed. • Treat the seeds with Trichoderma viride at 4g/kg. • Apply farm yard manure or green leaf manure at 10t/ha or neem cake 150 kg/ha. Spot drench with Carbendazim at 1.0 g/litre.
                </p>
            <p>2.Treat the seeds with thiram or Carbendazim at 2g/kg. • Spray Mancozeb at 2kg/ha or Iprodion 1L/ha. </p>
            <h2 style="color:MediumSeaGreen;">
                Harvesting</h2>
            <p>Harvest the crop, when the leaves turn yellow and start drooping and the bottom capsules are lemon yellow by pulling out the plants. Harvest during the morning hours.Cut the root portion and stack the plants in bundles for 3-4 days when the
                leaves will fall off. Spread in the sun and beat with sticks to break open the capsules.Repeat this for 3 days. Preserve seeds collected during the first day for seed purposes. Clean and dry in sun for about 7 days before storing.</p>

            <h2 style="color:MediumSeaGreen;">
                Yield</h2>
            <p>A well managed crop of sesame can yield 1200-1500 kg/ha under irrigated and 800-1000 kg/ha under rainfed conditions. The crop is grown in almost all parts of the country.</p>
</body>

</html>