<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div id="google_translate_element_id"></div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element_id');
        }
    </script>

    <script type="text/javascript">
        (function() {
            var gtConstEvalStartTime = new Date();
            /*

             Copyright The Closure Library Authors.
             SPDX-License-Identifier: Apache-2.0
            */
            function d(b) {
                var a = document.getElementsByTagName("head")[0];
                a || (a = document.body.parentNode.appendChild(document.createElement("head")));
                a.appendChild(b)
            }

            function _loadJs(b) {
                var a = document.createElement("script");
                a.type = "text/javascript";
                a.charset = "UTF-8";
                a.src = b;
                d(a)
            }

            function _loadCss(b) {
                var a = document.createElement("link");
                a.type = "text/css";
                a.rel = "stylesheet";
                a.charset = "UTF-8";
                a.href = b;
                d(a)
            }

            function _isNS(b) {
                b = b.split(".");
                for (var a = window, c = 0; c < b.length; ++c)
                    if (!(a = a[b[c]])) return !1;
                return !0
            }

            function _setupNS(b) {
                b = b.split(".");
                for (var a = window, c = 0; c < b.length; ++c) a.hasOwnProperty ? a.hasOwnProperty(b[c]) ? a = a[b[c]] : a = a[b[c]] = {} : a = a[b[c]] || (a[b[c]] = {});
                return a
            }
            window.addEventListener && "undefined" == typeof document.readyState && window.addEventListener("DOMContentLoaded", function() {
                document.readyState = "complete"
            }, !1);
            if (_isNS('google.translate.Element')) {
                return
            }(function() {
                var c = _setupNS('google.translate._const');
                c._cest = gtConstEvalStartTime;
                gtConstEvalStartTime = undefined;
                c._cl = 'en';
                c._cuc = 'googleTranslateElementInit';
                c._cac = '';
                c._cam = '';
                c._ctkk = '443432.3380506509';
                var h = 'translate.googleapis.com';
                var s = (true ? 'https' : window.location.protocol == 'https:' ? 'https' : 'http') + '://';
                var b = s + h;
                c._pah = h;
                c._pas = s;
                c._pbi = b + '/translate_static/img/te_bk.gif';
                c._pci = b + '/translate_static/img/te_ctrl3.gif';
                c._pli = b + '/translate_static/img/loading.gif';
                c._plla = h + '/translate_a/l';
                c._pmi = b + '/translate_static/img/mini_google.png';
                c._ps = b + '/translate_static/css/translateelement.css';
                c._puh = 'translate.google.com';
                _loadCss(c._ps);
                _loadJs(b + '/translate_static/js/element/main.js');
            })();
        })();
    </script>
    <header>
        <h1 style="color:DodgerBlue;">SOYABEAN</h1>
    </header>
    <img src="/media/accounts/images/soyabean.jpeg" alt="Soyabean">

    <p> Soyabean The soybean, soy bean, or soya bean (Glycine max) is a species of legume native to East Asia, widely grown for its edible bean, which has numerous uses
        <br>Soy beans contain significant amounts of phytic acid, dietary minerals and B vitamins. Soy vegetable oil, used in food and industrial applications, is another product of processing the soybean crop..
        <br>Soybean is the most important protein source for feed farm animals (that in turn yields animal protein for human consumption). </p>

    <h2 style="color:MediumSeaGreen;">
        Requirement</h2>

    <h2 style="color:MediumSeaGreen;">
        Climate</h2>
    Soybean grows well in warm and moist climate. A temperature of 26 to 30°C appears to be the optimum for most of the varieties. Soil temperatures of 15.5°C or above favor rapid germination and vigorous seedling growth. A lower temperature tends to delay
    the flowering. <br>

    <h2 style="color:MediumSeaGreen;">
        Soil</h2>
    The best soybean yields occur on well-drained, but not sandy, soils having a pH of 6.5 or above. The critical stage for soybean yield is in August and droughty soils that typically dry out in August will have disappointing yields.
    <h2 style="color:MediumSeaGreen;">
        Varieties</h2>

    The centre has developed four soybean varieties viz. NRC 2(Ahilya 1), NRC-12 (Ahilya 2), NRC-7 (Ahilya 3) and NRC-37 (Ahilya 4). Several varieties like JS 93-05, JS 95-60, JS 335, JS 80-21, NRC 2, NRC 37, Punjab 1, Kalitur have been developed with high
    seed longevity
    <h2 style="color:MediumSeaGreen;">
        Planting</h2>
    The best soybean yields occur on well-drained, but not sandy, soils having a pH of 6.5 or above. The critical stage for soybean yield is in August and droughty soils that typically dry out in August will have disappointing yields. Soybeans have a very
    broad optimal planting date with optimum dates from about May 5-25 in the warmer regions in central and western New York. Soybeans can be successfully planted in late April or early May in these regions but final stands may be more erratic so an insecticide/fungicide
    seed treatment is recommended for late April and early May plantings.

    <h2 style="color:MediumSeaGreen;">
        Seed treatment</h2>
    Treat the seeds with Carbendezim or Thiram @ 2g/kg of seed 24hrs before sowing or with talc formulation of Trichoderma viride @ 4 g/kg seed (or) Pseudomonas fluorescens @ 10 g/kg seed. Biocontrol agents are compatible with biofertilizers. First treat
    the seeds with biocontrol agents and then with Rhizobium

    <h2 style="color:MediumSeaGreen;">Sowing</h2>
    First fortnight of June is best time for sowing Soybean. While sowing use row to row spacing of 45 cm and plant to plant spacing of 4-7 cm. Sow seeds at depth of 2.5-5 cm. Sow seeds with help of seed drill.

    <h2 style="color:MediumSeaGreen;">Fertilizers</h2>
    Apply 20 kg N and 80 kg P2O5 and 40 kg K2O and 40 kg of S as gypsum (220 kg/ha) /ha as basal dressing. Soil application of 25 kg ZnSO4/ha under irrigated condition. Foliar spray of NAA 40 mg/l and Salicylic acid 100 mg/l once at pre-flowering and another
    at 15 days thereafter.

    <h2 style="color:MediumSeaGreen;">Irrigation</h2>
    <p>Irrigation Management :: Soybean. Irrigate immediately after sowing. Give life irrigation on the 3rd day. Further irrigations at intervals of 7 - 10 and 10 - 15 days during summer and winter season respectively may be given depending on soil and weather
        conditions.</p>

    <h2 style="color:MediumSeaGreen;">
        Intercultural operations</h2>


    <h2 style="color:MediumSeaGreen;">
        Mulching</h2>
    <p>In early days, application of paddy straw or spreading of sugarcane trash in the field will decrease the evaporation and thus decrease the water demand of the crop besides improving the yield.</p>

    <h2 style="color:MediumSeaGreen;">
        Tying of cane</h2>
    <p>It is very desirable to tie up the canes so that they may not sway during the winds, and lodge. The best way to do the tying is to bring together the stalks from adjacent rows and tie them together with their own trash and old leaves. In many places
        cane is tied at two or three levels with twists of cane trash, the twistline going from one end of the row to the other; sometimes the stalks are further propped up with bamboos.</p>

    <h2 style="color:MediumSeaGreen;">
        Plant protection</h2>
    White Fly: For white fly control, take spray of Thiamethoxam@40 gm or Triazophos@300 ml/acre. If necessary take second spray 10 days after first spray.</br>
    Tobacco caterpillar: If infestation is observed, take spray of Acephate 57SP@800 gm/acre or Chlorpyriphos 20EC@ 1.5 ltr/acre. If necessary take second spray 10 days after first spray.</br>
    Hairy Caterpillar: To control hairy caterpillar pick caterpillar manually and destroyed by crushing or putting in kerosene water when infestation is low. In case of high infestation, take spray of Quinalphos@300 ml or Dichlorvos@200 ml/acre.</br>

    <h2 style="color:MediumSeaGreen;">
        Pest Management</h2>
    Several cultural practices can be implemented to reduce potential loss from stem borers. Weed control to reduce alternate hosts of soybean stem borers, such as wild sunflower, ragweed, and cocklebur, can help reduce soybean stem borer populations.

    <h2 style="color:MediumSeaGreen;">
        Termites</h2>
    There is adequate soil moisture remaining and 50% or more of the pods have seeds that are fully formed, then irrigation can be terminated. If the soil is drying at this point, one additional irrigation should be applied to ensure that all seeds reach
    their maximum weight.

    <h2 style="color:MediumSeaGreen;">
        Control on pest</h2>
    <p>First spray: First spray may be done at 15 – 20 days after sowing with Pyramid 0.5 gm/L + Active Gold neem oil 2mL/L. ... Second spray: Second spray may be done at 30 – 35 days after sowing with Jashn 2 mL/L + Active Gold neem oil 2mL/L.</p>

    <h2 style="color:MediumSeaGreen;">
        Internode borer</h2>
    <p>Soybean stem borer (Dectes texanus texanus) is also commonly referred to as Dectes stem borer.</br> It is a small, long-horned beetle whose larvae attack soybean and other hosts including sunflower, giant ragweed and cocklebur.</br> It is a native
        insect species in North America east of the Rocky Mountains.</br> Although soybean stem borer damage to soybean has been reported since the 1970s, it has not generally been considered a major pest.</br>In recent years however, reports of damage
        have increased.
        <sbr> Dectes stem borer damage to soybean has been reported most frequently in areas across Texas, Kansas and Nebraska, along the Mississippi and Ohio Rivers, and along the Atlantic coast</p>

    <h2 style="color:MediumSeaGreen;">
        Control</h2>
    Soybean stem borer is a difficult pest to control. It is best approached with a combination of practices including:Infested fields should be harvested as soon as the mature beans are dry enough to be processed by a combine to avoid lodging risks.Rotation
    to a crop other than soybeans.Growing longer season soybean varieties can be an effective practice by allowing more time to harvest the crop before infested plants lodge.Control of within field weeds such as sunflowers, ragweed, and cocklebur will
    reduce these alternate hosts and consequently the number of borers in the field.Another control method is to plant a trap crop of sunflowers next to a soybean field. The beetles prefer to lay eggs in the sunflowers, thus reducing the number of beetles
    found in the adjacent soybeans.

    <h2 style="color:MediumSeaGreen;">Disease</h2>
    <h2 style="color:MediumSeaGreen;"></h2>
    <p>1.ANTHRACNOSE STEM BLIGHT</p>
    Anthracnose Stem Blight is caused by several species of Colletotrichum fungi. It is present in soybean fields to some degree every season, but it generally does not cause severe symptoms or yield loss. When rainy, humid weather occurs consistently during
    the reproductive stages of growth, however, anthracnose can combine with Phomopsis pod and stem blight and purple seed stain to significantly reduce seed quality that can result in a price dockage at the point of sale.
    <p>
        <p>2.BACTERIAL LEAF BLIGHT</p>
        Bacterial leaf blight can be found in most soybean fields every year. It is caused by the bacterium Pseudomonas syringae pv. glycinea. The disease is most common following windswept thunderstorms in July and August. The bacteria can also infect snap bean
        and Lima bean.</p>
    <h2 style="color:MediumSeaGreen;">Management</h2>
    <p>1.Soybean varieties differ in their susceptibility to anthracnose, but seed companies typically do not provide ratings since the disease is not considered yield limiting.</p>
    <p>2.Rotate to any crop other than Lima beans or snap beans. Where soil erosion is not a concern, tillage can be used to bury residue or place it in closer contact with the soil for faster decomposition</p>
    <h2 style="color:MediumSeaGreen;">
        Harvesting</h2>
    <p>Pods become dry and leaves changes their color to yellow and fall of, it is sign of crop is ready for harvesting. Harvest the crop with sickle or by hand. After harvesting, carry out threshing operation. </p>

    <h2 style="color:MediumSeaGreen;">
        Post Harvesting</h2>
    <p>Pods become dry and leaves changes their color to yellow and fall of, it is sign of crop is ready for harvesting. Harvest the crop with sickle or by hand. After harvesting, carry out threshing operation. </p>

    <h2 style="color:MediumSeaGreen;">
        Yield</h2>
    <p>
        Under rainfed condition – 1600-2000 kg/ha and under Irrigated condition – 2000-2500 kg/ha.</p>
</body>

</html>