<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	     <div id="google_translate_element_id"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>
	<header><h1 style="color:DodgerBlue;">SUNFLOWER</h1></header>
		<img src="/media/accounts/images/sunflower.jpeg" alt="Sunflower">

    <p>Sunflowers have a large flower head, usually with a large, almost black central part which is made up of thousands of tiny florets that later become seeds set in a spiral pattern. The petals are typically bright yellow, although some varieties are orange or red. Its stem is rough and hairy while the leaves large and rough with coarse jagged edges. Sunflowers typically grow to between one and a half and three and a half metres, with some giant variants reaching up to eight metres.</p>	
	
<h2 style="color:MediumSeaGreen;">
Requirement</h2>

<h2 style="color:MediumSeaGreen;">
Climate</h2>
Sunflower will produce a moderate yield on rainfall down to 300mm, but at this level of production is unlikely to be commercially viable as a mechanized crop. In the field, the relationship between low rainfall and seed yield is often almost linear from 200 to 500 mm, with 1t / ha usually achieved around 300 - 350mm.

<h2 style="color:MediumSeaGreen;">
Habitat</h2>
  Helianthus originated in the Americas, where Native Americans grew it for years as a source of food. In line with its original habitat, it requires hot and dry conditions to thrive.

  <h2 style="color:MediumSeaGreen;">
Availability</h2>
  Sunflower seeds should be sown in fertile, moist, well-drained soil that contains heavy mulch. They need full sun to grow properly and develop best in summer. They thrive when grown in large clusters, as they shade the ground and keep the roots cool and the ground damp for longer. These groups afford protection from the wind and can help support each other.

  <h2 style="color:MediumSeaGreen;">
    Species</h2>
    The sunflower belongs to the Asteraceae family, or Asters. There are 38 North American species of sunflower, some varying from the traditional yellow. Through hybridisation, there are now tan, orange, burgundy or striped petals varieties available as well. Bi-coloured ones such as the Prado Red have reddish-brown petals with yellow bordering.The Giant Sunflower generally grows to about three metres. Recently, low-pollen species have been developed which help asthma sufferers.

<h2 style="color:MediumSeaGreen;">
Soil</h2>
Well drained sandy loams, black soils and alluvial soils are suitable. Water logged areas should be avoided. Primary cultivations, such as ploughing with a mouldboard plough or chisel plough, are suitable.

<h2 style="color:MediumSeaGreen;">
Varieties</h2>
BSH 1(Bangalore sunflower hybrid no.1)
NSFH - 110	
NSFH - 111	
APSH - 11	

<h2 style="color:MediumSeaGreen;">
Planting</h2>
Sunflower is sown by Dibbling method which requires 5-6 kg seed per hectare, while furrow sowing needs 8-10 kg per hectare. The excess seedlings are thinned 10-15 days after seedling emergence. Seeds should be treated with captan or ceresan @ 3 g/kg seed under dryland conditions.

<h2 style="color:MediumSeaGreen;">
Seed treatment</h2>
Slurry treat the seeds with carbendazim @ 2g kg-1 of seed along with carbaryl @ 200 mg kg-1 of seed.
Slurry treat the seeds with halogen mixture (CaOCl2 + CaCO3 + arappu leaf powder mixed in the ratio of 5:4:1 ) @ 3g kg-1as eco – friendly treatment.


<h2 style="color:MediumSeaGreen;">Sowing</h2>
Sunflower is sown by Dibbling method which requires 5-6 kg seed per hectare, while furrow sowing needs 8-10 kg per hectare. The excess seedlings are thinned 10-15 days after seedling emergence. Seeds should be treated with captan or ceresan @ 3 g/kg seed under dryland conditions.

<h2 style="color:MediumSeaGreen;">Fertilizers</h2>
Nitrogen
Phosphorus
Potassium

<h2 style="color:MediumSeaGreen;">Irrigation</h2>
<p>Furrow irrigation system is ideal for sunflower as this system is the simplest system and also highly efficient especially under undulated land. Depending upon soils and season, apply irrigation water at intervals of 20-25 days in case of black soils and 8-10 days in case of red soils.

<h2 style="color:MediumSeaGreen;">
Plant protection</h2>
Spray HaNPV 250 LE + Bt @0.5kg/ha for effective control. Spray HaNPV 250 LE/ha +1 kg Jaggery + 200ml Sandovit (or) Teepal; mixing and spray in the evening hours only. Spraying of 5% Neem oil or 5% Neem Seed Kernal extract before egg laying.

<h2 style="color:MediumSeaGreen;">
Pest Management</h2>
Thoroughly spraying the sunflowers with a narrow-range oil, neem oil or insecticidal soap kills aphids that the material comes into contact with, but has no lasting effect, allowing beneficial insects to return to the area and control aphids.

<h2 style="color:MediumSeaGreen;">
Control on pest</h2>
<p>Sow 3- 4 lines of maize around the sunflower crop to monitor the moth. Intercropping with pigeonpea, groundnut, finger millet and soybean. Sow trap crops like marigold at 50 plants/acre. Use of pheromone traps (4 traps/acre) for pest intensity identification as well as to trap the male moths.</p>

<h2 style="color:MediumSeaGreen;">Disease</h2>
<h2 style="color:MediumSeaGreen;"></h2>
<p>1.Alternaria</p>
<p>2.Phoma Black Stem / Phomopsis Stem Canker</p>
<h2 style="color:MediumSeaGreen;">Management</h2>
<p>
    Cultural Practices:
    Disease is managed through practices that such as crop rotation and tillage operations those bury and rapidly promote residue decomposition. Early planted fields are generally more susceptible to severe disease losses than later planted ones. Plants are most susceptible at flowering and during seed fill.
<p>Cultural Practices
    No control measure is completely effective. However, crop rotation will decrease soil populations of the pathogen. Good insect control will also limit the spread of disease. Burial of infected residue or not planting near previously infested fields will also contribute to reducing disease potential in subsequent crops.

<h2 style="color:MediumSeaGreen;">
Harvesting</h2>
<p>One method for harvesting sunflower seeds allows the seeds to fully ripen on the stem. When seeds are fully ripened and just beginning to loosen from the head, cut the stem about one inch (2.5 cm.) below the head. Now briskly rub the seeds from the head with your hand, blow off the chaff, and allow the seeds to dry before storing. 1.3M107 Virtual Garden Festival, March 11-20

<h2 style="color:MediumSeaGreen;">
Yield</h2>
<p>The sunflower crop gives a grain yield of 300-500 kg per ha under rainfed conditions and 800-1200 kg per ha when grown under irrigation.</p>
</body>
</html>