<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div id="google_translate_element_id"></div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element_id');
        }
    </script>

    <script type="text/javascript">
        (function() {
            var gtConstEvalStartTime = new Date();
            /*

             Copyright The Closure Library Authors.
             SPDX-License-Identifier: Apache-2.0
            */
            function d(b) {
                var a = document.getElementsByTagName("head")[0];
                a || (a = document.body.parentNode.appendChild(document.createElement("head")));
                a.appendChild(b)
            }

            function _loadJs(b) {
                var a = document.createElement("script");
                a.type = "text/javascript";
                a.charset = "UTF-8";
                a.src = b;
                d(a)
            }

            function _loadCss(b) {
                var a = document.createElement("link");
                a.type = "text/css";
                a.rel = "stylesheet";
                a.charset = "UTF-8";
                a.href = b;
                d(a)
            }

            function _isNS(b) {
                b = b.split(".");
                for (var a = window, c = 0; c < b.length; ++c)
                    if (!(a = a[b[c]])) return !1;
                return !0
            }

            function _setupNS(b) {
                b = b.split(".");
                for (var a = window, c = 0; c < b.length; ++c) a.hasOwnProperty ? a.hasOwnProperty(b[c]) ? a = a[b[c]] : a = a[b[c]] = {} : a = a[b[c]] || (a[b[c]] = {});
                return a
            }
            window.addEventListener && "undefined" == typeof document.readyState && window.addEventListener("DOMContentLoaded", function() {
                document.readyState = "complete"
            }, !1);
            if (_isNS('google.translate.Element')) {
                return
            }(function() {
                var c = _setupNS('google.translate._const');
                c._cest = gtConstEvalStartTime;
                gtConstEvalStartTime = undefined;
                c._cl = 'en';
                c._cuc = 'googleTranslateElementInit';
                c._cac = '';
                c._cam = '';
                c._ctkk = '443432.3380506509';
                var h = 'translate.googleapis.com';
                var s = (true ? 'https' : window.location.protocol == 'https:' ? 'https' : 'http') + '://';
                var b = s + h;
                c._pah = h;
                c._pas = s;
                c._pbi = b + '/translate_static/img/te_bk.gif';
                c._pci = b + '/translate_static/img/te_ctrl3.gif';
                c._pli = b + '/translate_static/img/loading.gif';
                c._plla = h + '/translate_a/l';
                c._pmi = b + '/translate_static/img/mini_google.png';
                c._ps = b + '/translate_static/css/translateelement.css';
                c._puh = 'translate.google.com';
                _loadCss(c._ps);
                _loadJs(b + '/translate_static/js/element/main.js');
            })();
        })();
    </script>
    <header>
        <h1 style="color:DodgerBlue;">TOMATO</h1>
    </header>
    <img src="/media/accounts/images/tomatoes.jpeg" alt="tomato">

    <p> The tomato is the edible berry of the plant Solanum lycopersicum,[1][2] commonly known as a tomato plant. The species originated in western South America and Central America.[2][3] The Mexican Nahuatl word tomatl gave rise to the Spanish word tomate,
        from which the English word tomato derived.[3][4] Its domestication and use as a cultivated food may have originated with the indigenous peoples of Mexico.[2][5] The Aztecs used tomatoes in their cooking at the time of the Spanish conquest of
        the Aztec Empire, and after the Spanish encountered the tomato for the first time after their contact with the Aztecs, they brought the plant to Europe, in a widespread transfer of plants known as the Columbian exchange. From there, the tomato
        was introduced to other parts of the European-colonized world during the 16th century.

        <h2 style="color:MediumSeaGreen;">
            Requirement</h2>

        <h2 style="color:MediumSeaGreen;">
            Soil</h2>
        Tomato can be grown on a wide range of soils from sandy to heavy clay. However, well-drained, sandy or red loam soils rich in organic matter with a pH range of 6.0-7.0 are considered as ideal. Tomato is a warm season crop.

        <h2 style="color:MediumSeaGreen;">
            Varieties</h2>
        Cherry tomatoes Grape tomatoes Roma tomatoes. Beefsteak tomatoes. Heirloom tomatoes

        <h2 style="color:MediumSeaGreen;">
            Planting</h2>

        <h2 style="color:MediumSeaGreen;">
            Seed treatment</h2>
        Treat the seeds with Trichoderma viride 4 g or Pseudomonas fluorescens 10 g or Carbendazim 2 g per kg of seeds 24 hours before sowing. Just before sowing, treat the seeds with Azospirillum @ 40 g / 400 g of seeds

        <h2 style="color:MediumSeaGreen;">Sowing</h2>
        Seeds are sown in June July for autumn winter crop and for spring summer crop seeds are sown in November. In the hills seed is sown in March April. About 250-300 g of seed are sufficient for raising seedlings for one hectare of land.

        <h2 style="color:MediumSeaGreen;">Fertilizers</h2>
        A fertilizer dose of 75:40:25 kg N:P. 2O5:K2O / ha may be given. Half the dose of nitrogen, full phosphorus and half of potash may be applied as basal before transplanting. One fourth of nitrogen and half of potash may be applied 20-30 days after planting.

        <h2 style="color:MediumSeaGreen;">Irrigation</h2>
        <p>A mature tomato plant needs at least one gallon of water especially when the sun is at its peak. Consistent watering is a must for tomato cultivation. If you water your plants once in a day, it may overstress the plants leading to limited yield.</p>

        <h2 style="color:MediumSeaGreen;">
            Pollination</h2>
        In the wild, original state, tomatoes required cross-pollination; they were much more self-incompatible than domestic cultivars. As a floral device to reduce selfing, the pistil of wild tomatoes extends farther out of the flower than today's cultivars.
        The stamens were, and remain, entirely within the closed corolla.As tomatoes were moved from their native areas, their traditional pollinators, (probably a species of halictid bee) did not move with them.[74] The trait of self-fertility became
        an advantage, and domestic cultivars of tomato have been selected to maximize this trait.This is not the same as self-pollination, despite the common claim that tomatoes do so. That tomatoes pollinate themselves poorly without outside aid is clearly
        shown in greenhouse situations, where pollination must be aided by artificial wind, vibration of the plants (one brand of vibrator is a wand called an "electric bee" that is used manually), or more often today, by cultured bumblebees.[75] The
        anther of a tomato flower is shaped like a hollow tube, with the pollen produced within the structure, rather than on the surface, as in most species. The pollen moves through pores in the anther, but very little pollen is shed without some kind
        of externally-induced motion. The ideal vibratory frequencies to release pollen grains are provided by an insect, such as a bumblebee, or the original wild halictid pollinator, capable of engaging in a behavior known as buzz pollination, which
        honey bees cannot perform. In an outdoors setting, wind or animals usually provide sufficient motion to produce commercially viable crops.

        <h2 style="color:MediumSeaGreen;">
            Fruit formation</h2>
        Pollination and fruit formation depend on meiosis. Meiosis is central to the processes by which diploid microspore mother cells within the anther give rise to haploid pollen grains, and megaspore mother cells in ovules that are contained within the ovary
        give rise to haploid nuclei. Union of haploid nuclei from pollen and ovule (fertilization) can occur either by self- or cross-pollination. Fertilization leads to the formation of a diploid zygote that can then develop into an embryo within the
        emerging seed. Repeated fertilizations within the ovary are accompanied by maturation of the ovary to form the tomato fruit.Homologs of the recA gene, including rad51, play a key role in homologous recombinational repair of DNA during meiosis.
        A rad51 homolog is present in the anther of tomato (Lycopersicon esculentum),[76] suggesting that recombinational repair occurs during meiosis in tomato.

        <h2 style="color:MediumSeaGreen;">
            Hydroponic and greenhouse cultivation</h2>
        Tomatoes are often grown in greenhouses in cooler climates, and cultivars such as the British 'Moneymaker' and a number of cultivars grown in Siberia are specifically bred for indoor growing. In more temperate climates, it is not uncommon to start seeds
        in greenhouses during the late winter for future transplant.Greenhouse tomato production in large-acreage commercial greenhouses and owner-operator stand-alone or multiple-bay greenhouses is on the increase, providing fruit during those times
        of the year when field-grown fruit is not readily available. Smaller sized fruit (cherry and grape), or cluster tomatoes (fruit-on-the-vine) are the fruit of choice for the large commercial greenhouse operators while the beefsteak varieties are
        the choice of owner-operator growers.Hydroponic technique is often used in hostile growing environments, as well as high-density plantings.

        <h2 style="color:MediumSeaGreen;">
            Picking and ripening</h2>
        To facilitate transportation and storage, tomatoes are often picked unripe (green) and ripened in storage with ethylene.A machine-harvestable variety of tomato (the "square tomato") was developed in the 1950s by University of California, Davis's Gordie
        C. Hanna, which, in combination with the development of a suitable harvester, revolutionized the tomato-growing industry. This type of tomato is grown commercially near plants that process and can tomatoes, tomato sauce, and tomato paste. They
        are harvested when ripe and are flavorful when picked. They are harvested 24 hours a day, seven days a week during a 12- to 14-week season, and immediately transported to packing plants, which operate on the same schedule. California is a center
        of this sort of commercial tomato production and produces about a third of the processed tomatoes produced in the world.In 1994, Calgene introduced a genetically modified tomato called the FlavrSavr, which could be vine ripened without compromising
        shelf life. However, the product was not commercially successful, and was sold only until 1997

        <h2 style="color:MediumSeaGreen;">Disease and Damage symptoms</h2>
        <h2 style="color:MediumSeaGreen;"></h2>
        <p>1.Damping Off</p>
        <p>Damping off of tomato occurs in two stages, i.e. the pre-emergence and the post-emergence phase. In the pre-emergence the phase the seedlings are killed just before they reach the soil surface. The young radical and the plumule are killed and
            there is complete rotting of the seedlings. The post-emergence phase is characterized by the infection of the young, juvenile tissues of the collar at the ground level. The infected tissues become soft and water soaked. The seedlings topple
            over or collapse.</p>

        <p>2.2.Septoria leaf spot</p>
        <p>Less vigorous plant are usually affected Small, round to irregular spots with a grey center and dark margin on leaves Spots usually start on lower leaves and gradually advance upwards Spots coalesce and leaves are blighted Complete defoliation
            of affected leaves Stems and flowers are sometimes attacked Fruits are rarely attacked</p>

        <h2 style="color:MediumSeaGreen;">
            Harvesting</h2>
        <p>The fruits are harvested by twisting motion of hand to separate fruits from the stem. Harvested fruits should be kept only in basket or crates and keep it in shade. Since all the fruits do not mature at the same time, they are harvested at an
            interval of 4 days.</p>

        <h2 style="color:MediumSeaGreen;">
            Yield</h2>
        <p>The world dedicated 4.8 million hectares in 2012 for tomato cultivation and the total production was about 161.8 million tonnes.[81] The average world farm yield for tomato was 33.6 tonnes per hectare, in 2012.Tomato farms in the Netherlands were
            the most productive in 2012, with a nationwide average of 476 tonnes per hectare, followed by Belgium (463 tonnes per hectare) and Iceland (429 tonnes per hectare)</p>
</body>

</html>