<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div id="google_translate_element_id"></div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element_id');
        }
    </script>

    <script type="text/javascript">
        (function() {
            var gtConstEvalStartTime = new Date();
            /*

             Copyright The Closure Library Authors.
             SPDX-License-Identifier: Apache-2.0
            */
            function d(b) {
                var a = document.getElementsByTagName("head")[0];
                a || (a = document.body.parentNode.appendChild(document.createElement("head")));
                a.appendChild(b)
            }

            function _loadJs(b) {
                var a = document.createElement("script");
                a.type = "text/javascript";
                a.charset = "UTF-8";
                a.src = b;
                d(a)
            }

            function _loadCss(b) {
                var a = document.createElement("link");
                a.type = "text/css";
                a.rel = "stylesheet";
                a.charset = "UTF-8";
                a.href = b;
                d(a)
            }

            function _isNS(b) {
                b = b.split(".");
                for (var a = window, c = 0; c < b.length; ++c)
                    if (!(a = a[b[c]])) return !1;
                return !0
            }

            function _setupNS(b) {
                b = b.split(".");
                for (var a = window, c = 0; c < b.length; ++c) a.hasOwnProperty ? a.hasOwnProperty(b[c]) ? a = a[b[c]] : a = a[b[c]] = {} : a = a[b[c]] || (a[b[c]] = {});
                return a
            }
            window.addEventListener && "undefined" == typeof document.readyState && window.addEventListener("DOMContentLoaded", function() {
                document.readyState = "complete"
            }, !1);
            if (_isNS('google.translate.Element')) {
                return
            }(function() {
                var c = _setupNS('google.translate._const');
                c._cest = gtConstEvalStartTime;
                gtConstEvalStartTime = undefined;
                c._cl = 'en';
                c._cuc = 'googleTranslateElementInit';
                c._cac = '';
                c._cam = '';
                c._ctkk = '443432.3380506509';
                var h = 'translate.googleapis.com';
                var s = (true ? 'https' : window.location.protocol == 'https:' ? 'https' : 'http') + '://';
                var b = s + h;
                c._pah = h;
                c._pas = s;
                c._pbi = b + '/translate_static/img/te_bk.gif';
                c._pci = b + '/translate_static/img/te_ctrl3.gif';
                c._pli = b + '/translate_static/img/loading.gif';
                c._plla = h + '/translate_a/l';
                c._pmi = b + '/translate_static/img/mini_google.png';
                c._ps = b + '/translate_static/css/translateelement.css';
                c._puh = 'translate.google.com';
                _loadCss(c._ps);
                _loadJs(b + '/translate_static/js/element/main.js');
            })();
        })();
    </script>
    <header>
        <h1 style="color:DodgerBlue;">URAD</h1>
    </header>
    <img src="/media/accounts/images/uraddal.jpeg" alt="Urad">

    <p> Vigna mungo, the black gram, urad bean, mash kalai, uzhunnu parippu, ulundu paruppu, minapa pappu, Uddu (in Kannada) or black matpe is a bean grown in South Asia. Like its relative, the mung bean, it has been reclassified from the Phaseolus to the
        Vigna genus. The product sold as black lentil is usually the whole urad bean, whereas the split bean (the interior being white) is called white lentil. It should not be confused with the much smaller true black lentil (Lens culinaris).

        <h2 style="color:MediumSeaGreen;">
            Requirement</h2>

        <h2 style="color:MediumSeaGreen;">
            Climate</h2>
        This crop prefers dry weather condition with an ideal temperature range between 25 C to 35 C. Maturity crop period should coincide with the dry weather the condition for high yield and good quality seeds, this is one of the main criteria to decide the
        time of planting.

        <h2 style="color:MediumSeaGreen;">
            Soil</h2>
        Black gram can be grown on variety of soils ranging from sandy soils to heavy cotton soils. The most ideal soil is a well drained loam with pH of 6.5 to 7.8. Black gram cannot be grown on alkaline and saline soils.

        <h2 style="color:MediumSeaGreen;">
            Varieties</h2>
        Pant U-13</p>JU-2</p>Type-9</p>Barkha</p>Gwalior-2

    <h2 style="color:MediumSeaGreen;">
        Planting</h2>
    Soil in Black Gram cultivation should have a neutral pH. Loam or clay loam soils are best-suited soils for its cultivation. Adding higher organic matter in the soil will result in vigorous seed production.

    <h2 style="color:MediumSeaGreen;">
        Seed treatment</h2>
    Rhizobium 200 gm + PSB 250 gm /10kg of seed. Seed treatment with (Carbendazim 1 gm+ Thiram 1.5 gm) per kg of seed. Greengram blackgram under intensive cropping should be treated with Carbofuran @ 0.2% one week before Rhizobium treatment against Root knot
    and Reniform nematode.

    <h2 style="color:MediumSeaGreen;">Sowing</h2>
    The Black Gram seeds are sown @ 2 cm depth with a spacing of 10 cm and 30 cm between rows in the main field. Irrigation management in Black Gram Cultivation:- Irrigation/Water management in Black Gram Cultivation:- Black gram crop is very sensitive to
    irrigation.

    <h2 style="color:MediumSeaGreen;">Seed treatment:</h2>
    1. Seed should be treated with thiram @ 2.5 g / kg seed 2. It should be treated with rhizobium culture for atmospheric N fixation.

    <h2 style="color:MediumSeaGreen;">Fertilizers</h2>
    Manuring with 25-40kg per ha of phosphorus (P2O5) and 25kg per ha of nitrogen (N) should be given at the time sowing. Also seed treatment with biofertilizer viz. Rhizobium at the rate of 25gram per kg of seed is beneficial.

    <h2 style="color:MediumSeaGreen;">Irrigation</h2>
    Irrigation is not needed in rainy season, but in summer season irrigation should be given as per critical stages and availability of irrigation water. Number and frequency of irrigation depend upon the soil type and weather. The crop should get irrigation
    at an interval of 10-15 days.
    <!-- <p> -->

    <h2 style="color:MediumSeaGreen;">
        Irrigation management:</h2>
    Irrigation is not needed in rainy season, but in summer season irrigation should be given as per critical stages and availability of irrigation water. Number and frequency of irrigation depend upon the soil type and weather. The crop should get irrigation
    at an interval of 10-15 days. From flowering to pod development stage, there is need of sufficient moisture in the field.</h2>


    <h2 style="color:MediumSeaGreen;">
        Weed management:</h2>
    <p>One or two hand weeding should be done up to 40 days of sowing depending upon the weed intensity. Weeds can be controlled by the use of herbicides i.e. Fluchloralin (Basalin) 1 kg a.i. / ha in 800-1000 litres of water as pre-planting application.

        <h2 style="color:MediumSeaGreen;">
            Pest Management</h2>
        1. Gram pod borer: Helicoverpa armigera 2. Spotted pod borer: Maruca testulalis

        <h2 style="color:MediumSeaGreen;">
            Control on pest</h2>
        <p>ETL: 10% of affected pods
            <p>ETL: 3/plant Phosalone 0.07% (Spray fluid 625 ml/ha) Note : When the activity of coccinellid predator (both grubs and adults) is seen, insecticide application should be avoided.</p>

            <h2 style="color:MediumSeaGreen;">Disease</h2>
            <h2 style="color:MediumSeaGreen;"></h2>
            <p>1. Powdery mildew - Erysiphe polygoni </p>
            <p>2.Anthracnose-Colletotrichum lindemuthianum(Sexual stage: Glomerella lindemuthianum)</p>

            <h2 style="color:MediumSeaGreen;">Management</h2>
            <p>Remove and destroy infected plant debris. • Spray Carbendazim 500g or Wettable sulphur 2kg or Tridemorph 500 ml/ha at the initiation of disease and repeat 15 days later
                <p>Remove and destroy infected plant debris in soil. • Treat the seeds with Carbendazim at 2 g/kg. • Spray Carbendazim 500g or Mancozeb 2kg/ha soon after the appearance of disease and repeat after 15 days.
                    <h2 style="color:MediumSeaGreen;">
                        Harvesting</h2>
                    <p>The ripened pods can be collected from the plants in one or two pickings and dried on the floor. In case, If the plants come to harvest, then the crop should cut and the plants spread over the floor to dry. The plants become dry and
                        turn into black and pods may start splitting.

                        <h2 style="color:MediumSeaGreen;">
                            Yield</h2>
                        <p>A well-managed crop of mid-late duration varieties yield about 60-70 quintals/ pa .Short duration varieties yield about 45-55 quintals.About 40-60 quintals/ ha of fodder also becomes available per season.
</body>

</html>